body, html {
	height: 100%;
	margin: 0;
}

@font-face {font-family: AlienLeauge; 
    src: url(../fonts/alienleague.ttf); 
}

 @font-face {font-family: NulShock;
    src: url(../fonts/nulshock.ttf); 
}

@font-face {font-family: ASpace; 
    src: url(../fonts/aspace.ttf); 
}

#index-background {
	background-image:url(../images/mars.jpg);

	height: 100%;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    background-blend-mode: color;
    overflow: auto;
}

#index-container {
	position: static;
    width: 1000px;
    height: 800px;
    background-color: black; 
    margin-left: auto;
    margin-right: auto;
}

#index-header {
	position: static;
    width: 900px ;
    height: 100px ; 
    background-color: black ; 

    font-family: AlienLeague;
    color: darkred; 
    text-align: center;  
    font-size: 75px;
    letter-spacing: 3px;
    word-spacing: 5px;
    padding: 50px;
    text-emphasis: bold;
}

#index-nav {
	position: static;
            
    color: darkred; 
    font-family: NulShock;
    text-align: center; 
    font-size: 25px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: inherit; 
    
    background-color: black;
}

#index-nav-links {
	font-size: 25px;
	position: static; 

	text-align: left; 
	text-decoration: none; 
	font-family: NulShock; 
	color: darkred; 
	padding: 5px;
}

.nav-links:link {
	color: darkred;
}

.nav-links:visited {
	color: darkred; 
}

.nav-links: hover {
	color: darkorange;
	background-color: black; ;
	border-radius: 5px;
	font-size: 30px; 
}

.nav-links: active {
	color: black;
	background-color: darkgoldenrod; ; 
	font-style: normal; 
}

